.header.transparent {
    background: transparent;
}

.brands-section.blue-bg-new {
    /* background: url(../images/yellow-blue-desktop.svg) center/cover no-repeat border-box; */
    /* background: url(../images/avnew/desktop-background.svg) center/cover no-repeat border-box; */
    /* background-position: left 0% bottom 0%; */
    background: transparent;
    padding: 4rem 2rem 1rem;
}

.header-section1 {
    background: url(images/avnew/homepage-newbg.png) center/cover no-repeat border-box;
    /* background: url(images/yellow-blue-desktop.svg) center/cover no-repeat border-box; */
    background-position: left 0% bottom 0%;
}

.before-choice-header .header-section1 {
    /* background: url(images/only-blue-desktop-before-choice.png) center/cover no-repeat border-box; */
    background: url(images/avnew/bg-quality-desktop-new.png) center/cover no-repeat border-box;
    /* background-position: right; */
    background-position-y: 100px;
    background-size: contain;
}

.before-choice-header .white-logo {
    filter: brightness(0) invert(1);
}

.before-choice-header.hh .white-logo {
    filter: none;
}

.before-choice-header.hh .header-section1 {
    background: url(images/avnew/homepage-newbg.png) center/cover no-repeat border-box;
}

.header-section1 .fixed-header {
    position: relative;
    top: 0;
}

.header-section1 .margin-top-fixed {
    margin-top: 50px;
}

.main-header__logo img {
    width: 3.2rem;
}

.av-new .col-sm-1 {
    width: auto;
}

.av-new .col-sm-11 {
    width: 100%;
}

.av-new .bi-carousel-title {
    margin: auto 0 auto 50px;
    font-size: 14px;
}

.av-new .bi-carousel-title.bi-avmade {
    margin-bottom: 15px;
}

.brand-luxury {
    background: #FFF9F7;
    width: 100%;
    min-height: 100px;
    display: flex;
    padding: 80px 50px 80px;
    justify-content: space-between;
    margin-top: 50px;
}

.luxury-image {
    width: 45%;
    position: relative;
    height: fit-content;
}

.luxury-model {
    width: 100%;
    /* max-width: 120px; */
    border-radius: 10px;
}

.model-details {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 16px 70px 16px 25px;
    font-size: 19px;
    font-weight: 400;
}


.model-details .sq {
    color: rgba(0, 78, 147, 0.6);
    font-size: 11px;
    font-weight: 400;
    margin-top: 5px;
}

.model-details .an {
    color: #004E93;
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
}

.luxury-details {
    width: 45%;
    padding-top: 50px;
}

.luxury-details .l-title {
    font-size: 35px;
    font-style: italic;

}

.luxury-details .l-title .bold-l {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
}

.luxury-details .details {
    margin-top: 20px;
    font-size: 24px;
    max-width: 600px;
}

.brands-section-info.new {
    max-width: 450px;
}

.collapse-details {
    margin-top: 75px;
}

.collapse-details .collapse-card {
    /* border-bottom: 1px solid #D9D9D9; */
    padding: 35px 0 25px;
    cursor: pointer;
}

.collapse-details .card-pb {
    width: 100%;
    background-color: #D9D9D9;
    height: 1px;
}

.card-pb-blue {
    width: 0%;
    height: 1px;
    background-color: #0B4E90;
}

.collapse-details .collapse-card .card-title {
    font-size: 22px;
    display: flex;
    align-items: center;
}

.collapse-details .collapse-card .card-title span {
    font-size: 14px;
    margin-right: 18px;
    display: inline-block;
}

.collapse-details .collapse-card .card-info {
    padding-left: 39px;
    font-size: 15px;
}

.explore-cats {
    background: #F1FAFF;
    width: 100%;
    min-height: 100px;
    display: flex;
    padding: 50px 50px 70px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

.brands-illustration.no-b {
    width: 98%;
}

.explore-cats .title-e {
    font-style: italic;
    font-size: 23px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cats-images {
    margin-top: 40px;
    display: flex;
    overflow-x: auto;
}

.cats-images {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.cats-images::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.cats-images:hover .cat1.cats-image {
    opacity: 0.7;
}

.cat1.cats-image {
    opacity: 1;
}

.cats-image {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px;
    opacity: 0.7;
    cursor: pointer;
}

.cats-image:hover {
    opacity: 1;
}

.cats-image img {
    width: 200px;
    border-radius: 5px;
    min-width: 100px;
}

.cats-image span {
    font-size: 14px;
    margin-top: 10px;
}

.cat-left {
    transform: rotate(180deg);
    margin-right: 20px;
}

.cat-arrows img {
    height: 40px;
    cursor: pointer;
}

.qs1 {
    background: #F6F3F1;
    width: 100%;
    height: 40px;
    margin-top: 70px;
}

.quality-section {
    background: url(images/avnew/bg-quality.webp) center/cover no-repeat border-box, #F6F3F1;
    /* background: url(images/yellow-blue-desktop.svg) center/cover no-repeat border-box; */
    background-position: bottom 0% right 0%;
    height: 50vw;
    /* width: 98vw; */
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 80px;

}

.qs-info {
    margin-top: -90px;
}

.qs-title {
    font-size: 32px;
    font-style: italic;
    font-weight: 500;
}

.qs-title .qual {
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
}

.qsp {
    font-size: 23px;
    margin-top: 20px;
    line-height: 30px;
}

.qsb {
    border: 1px solid #004E93;
    background: #fff;
    border-radius: 5px;
    margin-top: 35px;
    padding: 8px 12px 8px 17px;
    color: #004E93;
    display: flex;
    align-items: center;
    font-size: 15px;
}

.qsb img {
    height: 32px;
    margin-left: 8px;
    font-weight: 500;
}

.sneak-peak {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 30px;
}

.sp-top {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.sp-cont {
    background: #F1FAFF;
}

.sp-cont {
    padding: 75px 0;
}

.sp-cont .marketplace-container {
    padding: 25px 50px;

}

.marketplace-slick-carousel2 {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.marketplace-slick-carousel2::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.marketplace-container .collection-item {
    background: #fff;
    border-radius: 10px;
    /* width: 100%; */
    width: 22vw;
    box-shadow: 0px 2px 2px 0px rgba(211, 211, 211, 0.25);
    cursor: pointer;
}

.marketplace-container .collection-item.join-us {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40%;
}

.marketplace-container .collection-item.join-us.stock-sp {
    height: 91%;
}

.join-us .ju-title {
    font-size: 28px;
    font-weight: 700;
}

.join-us .ju-info {
    font-size: 15px;
    line-height: 18px;
    margin-top: 10px;
}

.join-us .jb {
    margin-top: 50px;
    border: none;
    background: #FFD600;
    width: 60%;
    height: 46px;
    border-radius: 5px;
    color: #004E93;
}

.join-us .am-li {
    font-size: 12px;
    margin-top: 10px;
}

.join-us .am-li .blue-am {
    text-decoration: underline;
    color: #58B9FF;
    padding-left: 5px;
    cursor: pointer;
}

.marketplace-container .collection-item img {
    width: 100%;
    max-height: 380px;
    border-radius: 10px;
}

.marketplace-container .slide {
    /* width: 30%; */
    max-width: 425px;
    width: 22vw;
    margin-right: 40px;
}

.marketplace-slick-carousel2 {
    display: flex;
    overflow-x: auto;
}

.collection-info {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    text-align: left;
    font-size: 15px;
}

.collection-info img {
    height: 20px;
}

.collection-info .tb {
    color: rgb(0 78 147);
    font-weight: 400;
}

.collection-info .sq {
    color: rgba(255, 109, 58, 0.8);
    margin-top: 10px;
    font-size: 10px;
}

.collection-info .an {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
}

.collection-info .p-cont {
    margin-top: 10px;
    display: none;
}

.collection-info .price {
    color: rgba(0, 78, 147, 0.85);
    margin-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

.collection-info .ac {
    color: rgba(0, 78, 147, 0.5);
    font-size: 11px;
}

.collection-info button {
    box-shadow: 1px 1px 1px 1px rgba(212, 212, 212, 0.25);
    background: #fff;
    border: none;
    border-radius: 100px;
    max-width: 80px;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.ci-heading {
    font-size: 14px;
    margin-top: 35px;
    font-weight: 500;
    /* display: none; */
}

.brands-section__nothing {
    font-size: 60px;
    font-weight: 900;
    line-height: 65px;
}

.brands-section-info p {
    line-height: 1.8rem;
}

.brands-section-info.brand-lp p {
    line-height: 1.5rem;
}

.brands-section-info.brand-lp {
    margin-top: 1.1rem;
}

.brands-section-email input {
    margin-right: 20px;
    width: 13rem;
}

.brands-section-1 {
    box-shadow: 0px 2px 2px 0px rgba(211, 211, 211, 0.25);
    height: 525px;
    width: auto;
}

.brands-section__use .brands-section__col {
    padding-left: 80px;
}

.brands-section-2 {
    margin-left: -50px;
}

.width-5 {
    width: 10px;
    display: inline-block;
}

.bi-image {
    border: none;
    padding: 0;
    height: auto;
}

.quality-video {
    border-color: #E7F7FF;
}

.overlay50 {
    opacity: 0.5;
}

.marketplace2 {
    margin-top: 70px;
}

.join-com {
    margin-top: 70px;
}

.see-more-faqs {
    cursor: pointer;
}

.main-header__item.item1,
.main-header__item.item2 button {
    font-weight: 500;
}

.card-body-2 {
    line-height: 23px;
}

.lounge-and-athleisure {
    width: 100%;
    /* height: 55vh; */
    background: #f5f3f1;
    min-height: 450px;
    display: flex;
    margin-top: 70px;
}

.main-img {
    background: url(images/avnew/Lounge\ &\ athleisure/legging.webp) center/cover no-repeat border-box;
    /* height: 100%; */
    width: 30%;
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 30px 70px 30px 40px;
    min-width: 425px;
}

.main-img.upscale {
    background: url(images/avnew/Upscalestreet/hoodie1.webp) center/cover no-repeat border-box;
}

.main-img.main-img-mob {
    display: none;
}

.la-title {
    font-size: 30px;
    font-weight: 700;
}

.la-info {
    font-size: 15px;
}

.la-cards {
    width: 70%;
    padding: 50px 0 50px 50px;
    overflow-x: scroll;
}

.la-cards .marketplace-container {
    padding: 0;
}

.la-cards .sp-top {
    justify-content: flex-end;
    margin-bottom: 30px;
}

.la-cards .sp-top .sneak-peak-button {
    border: none;
    margin-right: 30px;
    background: #fff;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 2px;
    color: #004E93;
    font-weight: 500;
}

.la-cards .collection-info button {
    max-width: 110px;
    padding: 8px;
    color: rgba(0, 78, 147, 0.85);
    font-weight: 500;
    margin: auto;
    width: 24vw;
    box-shadow: 1px 1px 1px 1px #E2E2E240;
}

.la-cards .collection-info {
    background: #F2FDFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 40px 20px;

}

.boss-section {
    text-align: center;
    margin-top: 70px;
}

.avboss {
    font-size: 18px;
}

.bforb {
    font-size: 30px;
    font-weight: 700;
    margin-top: 15px;
}

.boss-info {
    margin-top: 15px;
}

.boss-info span {
    color: #53AAFF;
    text-decoration: underline;
    cursor: pointer;
}

.boss-section button {
    margin-top: 30px;
    border: none;
    background: #0A4C8D;
    color: #fff;
    width: 140px;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
}

.twoimgs {
    display: flex;
    justify-content: space-between;
    padding: 80px 80px 0 80px;
}

.imghalf {
    width: 45%;
}

.imghalf img {
    max-width: 100%;
    border-radius: 10px;
}

.imghalf .half-info {
    font-size: 15px;
    margin-top: 10px;
}

.imghalf .half-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 700;
}

.slick-slide img:hover {
    /* width: 180%; */
    cursor: pointer;
}

.fixed-avnew {
    position: fixed;
    top: 0;

}

.fixed-avnew.orange-before-choice {
    background: #D8F1FF;
}

.fixed-avnew.orange-bg {
    background: #fcf4f0;
    z-index: 999;
}


.modal-header {
    border-bottom: none !important;
}

.half-info button {
    border: 1px solid #004E93;
    margin-right: 30px;
    background: #fff;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    color: #004E93;
    font-weight: 500;
    margin-top: 10px;
}

.luxury-details .details span {
    font-weight: 500;
    text-decoration: underline;
}

.before-choice {
    margin-bottom: 120px;
}

.before-choice-title {
    text-align: center;
    font-size: 44px;
    line-height: 48px;
    font-weight: 900;
    width: fit-content;
    margin-left: 175px;
    margin-top: 55px;

}

.before-choice-subtitle {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    line-height: 26px;
    width: fit-content;
    margin-left: 50px;
}

.co-flex-side {
    display: flex;
    justify-content: space-between;
}

.choose-items {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 100px;
}

.choose-item {
    width: 40%;
    display: flex;
    border: 1px solid #31FFEA;
    box-shadow: 3px 3px 3px 3px #DEDEDE40;
    border-radius: 20px;
}

.choose-item img {
    width: 50%;
}

.choose-item-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    color: rgba(0, 78, 147, 0.7);
    font-size: 14px;

}

.choose-item-info-title {
    font-weight: 500;
    font-size: 21px;
    line-height: 24px;
    color: rgba(0, 78, 147, 1);
    margin-bottom: 10px;
}

.choose-option {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 140px auto 0;
    flex-direction: column;
}

.choose-option .choose-option-info {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.ml-25 {
    margin-left: 25px;
}

.option-1-st {
    font-size: 14px;
    font-weight: 600;
}

.option-1-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    margin: 8px 0 25px 0;
}

.choose-option img {
    width: 96%;
    max-width: 600px;
}
.option-button {
    background: #FFE700;
    color: #001D37;
    height: 50px;
    /* width: 121px; */
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    font-weight: 500;
    box-shadow: 2px 3px 2px 1px #A8A8A840;
}

.option-button.green-button-be {
    background: #31FFEA;
}


.qaul-icons {
    margin: 100px -2rem 0;
    display: flex;
    justify-content: flex-end;
}

.qaul-icons.hide-tablet {
    display: none;
}

.qaul-icons img {
    width: 110%;
}

.platform-access {
    max-width: 335px;
}

.main-header__item.item2.free-sg button {
    background: #FFE700;
    width: 170px;
    font-size: 14px;
}

.main-header__item.item2.ttan button {
    /* background: #FFE700; */
    width: fit-content;
    padding: 0 10px;
    font-size: 14px;
}


.modal-content.download-modal {
    background: #FFF9F9;
    border: none;
    border-radius: 15px;
    min-height: 650px;
}

.download-modal .modal-header {
    background: #FFF9F9;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.download-modal .modal-body {
    background: #FFF9F9;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    margin-top: 80px;
}

.modal-dialog.download-dialog {
    max-width: 650px !important;
}

.download-modal input {
    width: 80%;
    display: block;
    margin: auto;
    border: 1px solid #004E93;
    background: transparent;
    border-radius: 10px;
    height: 50px;
    margin-top: 50px;
    padding: 15px;
    outline: none;
}

.download-modal .i-lm {
    margin-top: 20px;
}

.download-modal input::placeholder {
    color: #03478ba9;
}

.download-modal .sub-text {
    width: 75%;
    text-align: center;
    margin: auto;
}

.download-modal .modal-body button {
    display: block;
    margin: auto;
    width: 80%;
    background: #002240;
    border: none;
    height: 50px;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
}

.download-modal .modal-body .go-back {
    margin-top: 80px;
}

.download-modal .small-span {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

#download-email-entered {
    font-weight: 500;
}

.boss-section .download-free-sg-boss {
    background: #FFE700;
    width: fit-content;
    padding: 0 30px;
    color: #03488B;
    font-weight: 500;
}

.white-color-login {
    color: #fff;
}

.white-box-apply,
.main-header__item.item2 .white-box-apply {
    background: #fff;
    color: #004E93;
}

.main-header__item.item2 .extra-width-caps {
    width: 125px;
    font-size: 14px;
}

.yellow-why-us {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    border: 12px solid #FFE700;
    border-radius: 30px;
    padding: 50px 40px;
    text-align: left;
    margin: 80px auto 40px;
}

.yellow-why-us h2 {
    padding: 0;
    margin: 0;
    text-align: left;
    margin-bottom: 30px;
    font-weight: 900;
}

.fw-400 {
    font-weight: 400 !important;
}

.main-header__item.item1.smaller-header-icons {
    font-size: 15px;
}

.simple-steps-heading {
    font-weight: 900;
    padding-bottom: 0;
    margin-bottom: -30px;
    font-size: 2rem;
}

.our-specialties {
    margin-top: 120px;
    font-weight: 900;
    padding-bottom: 5px;
}

.our-specialties-info {
    text-align: center;
    font-weight: 400;
}

.product-top .product-info {
    /* margin-top: 20px; */
    font-size: 15px;
    font-weight: 700;
    color: #03488B;
    background: #fff;
    width: fit-content;
    margin: 20px auto 0;
    padding: 7px 22px;
    border-radius: 20px;
    border: 1px solid #03488B;
    cursor: pointer;
}

.outline-arrow {
    border: 1px solid #03488B;
    padding: 2px 25px;
    border-radius: 20px;
    cursor: pointer;
    width: 90px;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 45px;
    bottom: -80px;
    background: #fff;
}

.outline-arrow.left {
    right: 165px;
}

.outline-arrow.left img {
    transform: rotate(180deg);
}

.outline-arrow img {
    height: 35px;
    padding: 5px;

}

.padding-mobile-container {
    padding-top: 70px;
}

.text-left {
    text-align: left;
}

.extra-padding-gif {
    padding-top: 110px;
}

.extra-padding-frugal {
    padding-top: 30px;
}

.scroll-a {
    width: 100%;
    color: inherit;
    text-decoration: none;
    display: block;
}

.css-rotation {
    background: #03488B;
    padding: 10px;
    color: #fff;
}

.ft-weight-400 {
    font-weight: 400;
}

.ft-weight-700,
.white-button.ft-weight-700 {
    font-weight: 700;
}

.ft-weight-900 {
    font-weight: 900;
}

.custom-main-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 68px;
}

.av-new {
    margin-top: 35px;
}

.end-t-end {
    font-weight: 400;
    margin-top: 5px;
    font-size: 20px;
}

.fixed-header-bar {
    background: #D8F1FF;

    padding: 10px 50px;

}

.fh-container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 30px 0;
    font-weight: 500;
}

.fh-container a {
    cursor: pointer;
    text-decoration: none;
    color: #03488B;
    font-size: 14px;
    min-width: fit-content;
}

.fh-container .fh-ul {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.mt-simple-steps,
.mt-faq {
    height: 100px;
}

.mr-0 {
    margin-right: 0 !important;
}

.specialityPopup-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spImg {
    width: 80%;
    margin: auto;
    display: flex;
    border-radius: 5px;
}

.outline-modal-arrow.left {
    transform: rotate(180deg);
}

.outline-modal-arrow {
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
}

.justify-space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-header__item.item1.yellow-button-header,
.yellow-button-header {
    background: #FFE700;
    padding: 10px 15px;
    color: #03488B;
    font-weight: 500;
    border-radius: 3px;
    font-size: 14px;
}

.main-header__item.item1.fs14 {
    font-size: 14px;
}

.main-header__item.item1.multi-color-border,
.multi-color-border {
    /* border: 1px solid ; */
    /* border-image-source: linear-gradient(180deg, #FF7C7C 0%, #843ACD 25%, #B35FE7 50%, #EA80FC 75%, #74FFE6 100%); */
    background: linear-gradient(180deg, #FF7C7C 0%, #843ACD 25%, #B35FE7 50%, #EA80FC 75%, #74FFE6 100%);
    margin: 0 10px 0 0;
    padding: 2px;

}

.white-bg-border {
    background: #fff;
    padding: 8px;
}

@media (max-width:1300px) {
    .luxury-details {
        padding-top: 15px;
    }

    .luxury-details .l-title {
        font-size: 30px;
    }

    .luxury-details .l-title .bold-l {
        font-size: 35px;
    }

    .collapse-details {
        margin-top: 30px;
    }

    .luxury-details .details {
        font-size: 20px;
        line-height: 27px;
        margin-top: 15px;
    }
}

@media (max-width:1250px) {
    .luxury-details .details {
        font-size: 22px;
    }

    .la-cards {
        width: 67%;
    }

    /* .la-cards .marketplace-container {
       width: 92%;
    } */
}

@media (max-width:1150px) {

    /* .la-cards .marketplace-container {
        width: 88%;
     } */
    .luxury-details .details {
        font-size: 20px;
    }

    .main-img {

        min-width: 400px;
    }
}

@media (max-width:786px) {
    .av-new {
        overflow-x: hidden;
    }

    .header-section1 {
        background-position: bottom;
    }

    .main-header__logo img {
        width: 2.5rem;
    }

    .main-image-mobile {
        width: 100%;
        margin: -20px 0 40px 0;
        padding-left: 0px;
    }

    .brands-section__use .brands-section__col {
        overflow: hidden;
        justify-content: flex-start;
    }

    .brands-section-1 {
        height: 260px;
        width: auto;

    }

    .brands-section-2 {
        height: 205px;
        width: auto;
        margin-left: -20px;
        /* width: auto; */
    }

    .brand-luxury {
        padding: 30px 25px 55px;
    }

    .luxury-details {
        width: 100%;
        padding-top: 25px;
    }

    .luxury-details .l-title {
        font-size: 25px;
    }

    .luxury-details .details {
        font-size: 14px;
        margin-top: 10px;
    }

    .luxury-image {
        width: 100%;
        margin-top: 50px;
    }

    .model-details {
        padding: 12px 45px 12px 18px;
        border-radius: 6px;
        font-size: 14px;
        bottom: 20px;
    }

    .model-details .sq,
    .model-details .an {
        font-size: 10px;
        margin-top: 5px;
    }

    .collapse-details {
        margin-top: 25px;
    }

    .collapse-details .collapse-card {
        padding: 30px 0 30px;
    }

    .collapse-details .collapse-card .card-title {
        font-size: 19px;
        margin-bottom: 0;
        display: flex;
        align-items: flex-start;
    }

    .collapse-details .collapse-card .card-title span {
        font-size: 14px;
        margin-top: 2px;
    }

    .collapse-details .collapse-card .card-info {
        padding-left: 38px;
        margin-top: 12px;
        font-size: 14px;
    }

    .explore-cats {
        padding: 50px 25px;
        margin-top: 50px;
    }

    .explore-cats .title-e {
        font-size: 21px;
        display: flex;
        align-items: center;
    }

    .cat-arrows img {
        height: 30px;
    }

    .cats-image img {
        width: 150px;
    }

    .quality-section {
        /* background: url(images/avnew/bg-quality-mob.webp) center/cover no-repeat border-box, #FFF9F7; */
        height: auto;
        padding: 60px 25px 0px;
        margin-top: 48px;
        background-position: top 50px;
        background: none;
        background-color: #F6F3F1;
    }

    .quality-section2 {
        background: #F6F3F1;
        height: auto;
    }

    .bg-qual-img {
        width: 100%;
        margin-top: 40px;
    }

    .qs-title {
        font-size: 22px;
    }

    .qs-title .qual {
        font-size: 32px;
    }

    .qsp {
        font-size: 15px;
        line-height: 21px;
    }

    .sp-top {
        padding: 0 25px;
    }

    .sp-cont .marketplace-container {
        padding: 8px 5px 20px 25px;
    }

    .marketplace-container .collection-item {
        width: 48vw;
        min-width: 180px;
        /* border-radius: 6px; */
    }

    .marketplace-container .slide {
        width: 48vw;
        margin-right: 30px;
        min-width: 180px;
    }

    .collection-info {
        padding: 15px 15px;
        font-size: 12px;
    }

    .width-5 {
        width: 1px;
    }

    .collection-info .sq {
        font-size: 10px;
    }

    .collection-info .an {
        font-size: 11px;
    }

    .collection-info button {
        max-width: 75px;
    }

    .collection-info img {
        height: 17px;
    }

    .ci-heading {
        font-size: 12px;
        margin-top: 22px;
    }

    .brands-section-email input {
        width: 100%;
    }

    .brands-section__nothing {
        font-size: 44px;
        line-height: 48px;
    }

    .brands-section-info.big p {
        font-size: 15px;
        line-height: 21px;
        margin-top: 8px;
    }

    .brands-section.blue-bg-new {
        padding: 3rem 2rem 1rem;
    }

    .main-header__item.item3 button {
        border-radius: 3px;
    }

    .main-header__item.item3 .yellow-free-sg-mob {
        background: #FFE700;
        margin-right: 20px;
        width: fit-content;
        font-size: 10px;
    }

    .free-sg-main {
        display: flex;
    }

    .av-new .bi-carousel-title {
        margin: auto 0 auto 35px;
        font-size: 12px;
    }

    .av-new .bi-carousel-title.bi-avmade {
        margin-bottom: 0;
    }

    .brands-section__use .brands-section__col {
        padding-left: 0;
    }

    .luxury-details .l-title .bold-l {
        font-size: 34px;
    }

    .cats-image span {
        font-weight: 500;
    }

    .marketplace,
    .marketplace2 {
        margin-top: 55px;
    }

    .sp-cont {
        padding-top: 55px;
    }

    .quality-sub-heading {
        font-size: 16px;
    }

    .quality {
        padding: 2rem 1rem;
    }

    .quality-video {
        border: 20px solid #E7F7FF;
    }

    .raving-heading {
        font-size: 28px;
        line-height: 2rem;
    }

    .bi-image {

        height: auto;
    }

    .av-new .col-sm-11 {
        margin-left: 15px;
    }

    .qs-info {
        margin-top: 0px;
    }

    .qsb {
        padding: 8px 8px 8px 15px;
        margin-top: 35px;
        font-size: 14px;
    }

    .qsb img {
        height: 25px;
        margin-left: 5px;
    }

    .sneak-peak {
        font-size: 19px;
    }

    .header-section1 .margin-top-fixed {
        margin-top: 35px;
    }

    .main-img {
        display: none;
    }

    .main-img.main-img-mob {
        display: flex;
        width: 100%;
        height: 450px;
        padding: 30px 50px 25px 25px;
    }

    .la-title {
        font-size: 25px;
    }

    .la-info {
        font-size: 13px;
    }

    .lounge-and-athleisure {
        flex-direction: column;
        margin-top: 50px;
    }

    .lounge-and-athleisure.up2 {
        margin-top: 80px;
    }

    .la-cards {
        width: 100%;
        padding: 40px 0 20px 20px;
    }

    .la-cards .sp-top {
        justify-content: space-between;
        padding: 0;
        padding-right: 15px;
        align-items: center;
    }

    .twoimgs {
        flex-direction: column;
        max-width: 100%;
        padding: 60px 25px 0 25px;
    }

    .imghalf {
        width: 100%;
    }

    .imghalf2 {
        margin-top: 50px;
    }

    .imghalf .half-title {
        font-size: 22px;
    }

    .imghalf .half-info {
        font-size: 13px;
    }

    .half-info button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .boss-section button {
        width: 120px;
        height: 40px;
        font-size: 14px;
    }

    .marketplace-container .collection-item img {
        max-height: 220px;
    }

    .join-us .ju-title {
        font-size: 24px;
    }

    .join-us .ju-info {
        font-size: 14px;
    }

    .join-us .jb {
        margin-top: 30px;
        width: 80%;
        height: 40px;
    }

    .join-us .am-li {
        font-size: 11px;
        margin-top: 8px;
    }

    .la-cards .marketplace-container {
        padding-right: 15px;
    }

    .before-choice {
        margin-bottom: 0px;
    }

    .before-choice-title {
        font-size: 30px;
        line-height: 33px;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }

    .before-choice-subtitle {
        font-size: 14px;
        /* margin: 15px -30px 0; */
        line-height: 18px;
        width: 100%;
        margin: 30px auto 0;
    }

    .choose-items {
        flex-wrap: wrap;
        padding: 0;
        margin-top: 50px;
    }

    .choose-item {
        width: 100%;
    }

    .choose-item.em {
        margin-top: 25px;
    }

    .choose-item-info {
        font-size: 12px;
    }

    .choose-item-info-title {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .choose-option {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 70px;
        padding: 0 15px;
    }

    .choose-option .choose-option-info {
        width: 100%;
    }

    .choose-option img {
        width: 100%;
        margin-top: 25px;
    }

    .option-1-title {
        font-size: 22px;
        margin: 4px 0 15px 0;
    }

    .option-1-sub {
        font-size: 14px;
    }

    .option-button {
        font-size: 14px;
        margin: 20px auto 0;
        height: 44px;
        /* width: 105px; */
        width: 100%;
    }

    .img-choose-1 {
        width: 108vw;
        height: 300px;
        margin-left: -60px;
        background: url(http://placehold.it/400x400/fa0);
        background-size: 300%;
        background-position: -100%, -100%;
        margin-top: 50px;
        background: url(images/avnew/qual-fake.webp) center/cover no-repeat border-box;
        /* background-position: bottom 0% right 0%;
    height: 50vw;
    background-size: contain;
    display: flex;
    align-items: center;
    padding: 80px; */
    }

    .empty-ht {
        height: 150px;
        width: 100%;
    }

    .download-modal .sub-text {
        width: 100%;
    }

    .before-choice-header .header-section1 {
        background-position-y: 0;
        background: none;
    }

    .main-header__item.item3 .gs-small {
        font-size: 10px;
    }

    .before-choice-header.hh .header-section1 {
        background-position-x: 0;
    }

    .main-header__item.item2 .extra-width-caps {

        width: 100px;
    }

    .before-choice-header .white-logo {
        filter: none;
    }

    .white-box-apply,
    .main-header__item.item2 .white-box-apply {
        background: #31FFEA;
        color: #004E93;
        font-size: 11px;
    }

    .main-header__item.item3.fs-11 button,
    .main-header__item.item1.fs-11,
    .fs-11 {
        font-size: 11px;
        color: #004E93;
    }

    .main-header__item.item3.fs-12 button,
    .main-header__item.item1.fs-12,
    .fs-12 {
        font-size: 13px;
        color: #004E93;
    }

    .yellow-why-us {
        padding: 40px 20px;
        margin: 60px 15px 40px;
        border: 8px solid #FFE700;
        font-size: 14px;
    }

    .simple-steps-heading {
        font-size: 28px;
        margin-bottom: 0;
        padding-bottom: 30px;
    }

    .our-specialties-info {
        font-size: 15px;
    }

    .padding-mobile-container {
        padding-bottom: 6rem;
    }

    .outline-arrow {
        width: 80px;
    }

    .outline-arrow img {
        height: 28px;
    }

    .outline-arrow.left {
        right: 145px;
    }

    .css-rotation {
        margin-top: 30px;
        font-size: 13px;
    }

    .end-t-end {
        margin-top: 0;
        font-size: 12px;
    }

    .fixed-header-bar {
        padding: 10px 20px;
    }

    .fh-container {
        text-align: center;
        overflow: scroll;
    }

    .fh-container a {
        margin-right: 50px;
        font-size: 11px;
    }

    .main-header__item.item1.multi-color-border,
    .multi-color-border {
        margin-bottom: 20px;

    }

    .mob-header-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}

























.risk-cards {
    display: flex;
    margin: 120px 0px 150px;
}

.card-section1 {
    /* width: 35%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 50px;
    width: 450px;
    min-width: 390px;
}

.card-section1 .info {
    display: flex;
    /* justify-content: center; */
    margin-top: 15px;
}

.risk-card {
    /* width: 250px; */
    min-height: 450px;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.risk-card .card-heading {
    font-size: 20px;
    font-weight: 700;
    width: 80%;
}

.risk-card img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.risk-card button {
    outline: none;
    border: none;
    background: #FFE700;
    color: #03488B;
    font-weight: 500;
    padding: 5px 21px;
    border-radius: 50px;
    font-size: 14px;
    margin: 30px auto 0;
}

.risk-card1 {
    background: #FFECEC !important;
}

.risk-card3 {
    background: #EEEBFF !important;
}

.risk-card2 {
    background: #FEFFCB !important;
}

.risk-card4 {
    background: #EEF9FF !important;
}

.risk-card5 {
    background: #E4FDFA !important;
}

.risk-card6 {
    background: #FDF1E4 !important;
}

.position-relative {
    position: relative;
}

.rotate10 {
    transform-origin: bottom left;
    transform: rotate(10deg);
    position: absolute;
    top: 0;
}

.rotate20 {
    transform-origin: bottom left;
    transform: rotate(17deg);
    position: absolute;
    top: 0;
}

.card-section2,
.card-section3 {
    /* width: 35%; */
    /* max-width: 400px; */
    width: 365px;
}

.relative-right {
    left: 70px;
}

.card-section1 h2 {
    text-align: left;
    padding: 0;
    margin: 0;
    font-weight: 900;
}

.card-section1 .arrows {
    display: flex;
    margin-top: 15px;
}

.card-section1 .arrows img {
    height: 35px;
    padding: 5px;
}

.card-section1 .arrows .disabled {
    opacity: 0.5;
}

.card-section1 .arrows .left img {
    transform: rotate(180deg);
}

.card-section1 .arrows .left {
    margin-right: 20px;
}

.card-section1 .arrows .outline {
    border: 1px solid #03488B;
    padding: 2px 25px;
    border-radius: 20px;
    cursor: pointer;
}

.card-heading-empty {
    height: 30px;
}

.empty-img {
    height: 263px;
}

.modal-content.um {
    max-width: 800px;
    position: relative;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 25px;
}

.modal-dialog {
    max-width: 800px !important;
}

.modal-content.um h3 {
    margin-top: 30px;
    text-align: center;
}

.modal-content.um .modal-body {
    max-width: 600px;
    margin: auto;
}

.modal-content.um .main-img-modal {
    display: flex;
    margin: auto;
    border-radius: 10px;
    max-height: 500px;
    max-width: 100%;
    margin-top: 25px;
}

.modal-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white-button {
    border: none;
    color: #03488B;
    font-weight: 500;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    margin-top: 45px;
    font-size: 18px;
    background: #ffff;
}

.yellow-button {
    border: none;
    color: #03488B;
    background: #FFE700;
    font-weight: 500;
    width: 145px;
    font-size: 14px;
    padding: 8px;
    border-radius: 25px;
    margin-top: 35px;
    text-transform: uppercase;
}

.orange-button {
    border: none;
    color: #ffff;
    background: #FF6D3A;
    font-weight: 500;
    width: 145px;
    font-size: 14px;
    padding: 8px;
    border-radius: 25px;
    margin-top: 45px;
}

.green-button {
    border: none;
    color: #03488B;
    background: #00FFD1;
    font-weight: 500;
    width: 180px;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 70px;
}

.mt-10px {
    margin-top: 10px;
}

.tl {
    text-align: left;
}

.mobile-non-wrap {

    display: flex;
}

.card-section1 .hide-desktop-design {
    display: none;
}

@media (max-width:786px) {
    .card-section1 .hide-mobile-design {
        display: none;
    }

    .card-section1 .hide-desktop-design {
        display: flex;
    }

    .arrows-top-margin-mobile {
        margin-top: 30px;
    }

    .risk-cards {
        flex-wrap: wrap;
        /* margin-bottom: 70px; */
        margin: 60px 0px 100px;
    }

    .card-section1 {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }

    .card-section2,
    .card-section3 {
        /* width: 50%; */
        margin-top: 50px;
        width: 230px;
    }

    .card-section2 {
        margin-left: 20px;
    }

    .mobile-non-wrap {
        flex-wrap: nowrap;
        display: flex;
    }

    .risk-card {
        /* width: 200px;
        height: 370px; */
    }

    .relative-right {
        left: 30px;
    }

    .risk-card .card-heading {
        font-size: 12px;
    }

    .risk-card button {
        font-size: 12px;
        padding: 9px 21px;
    }

    .card-section1 h2 {
        text-align: center;
    }

    .card-section1 .info {
        text-align: center;
    }

    .card-section1 .arrows {
        margin-top: 75px;
    }

    .card-section1 .arrows img {
        height: 28px;
        padding: 3px;
    }

    .close-modal {
        position: absolute;
        top: 25px;
        right: 25px;
        height: 22px;
        z-index: 2;
    }

    .extra-padding-gif {
        padding-top: 50px;
    }

    .custom-main-title {
        font-size: 45px;
        line-height: 50px;
    }
}