/* external css: flickity.css */

  
  .gallery {
    /* background: #EEE; */
  }
  
  .gallery-cell {
    width: auto;
    height: 600px;
    margin-right: 50px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
  }
  
  .faq .gallery-cell {
    height: 500px;
  }

  .why-us-cards .gallery-cell {
    height: 365px;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    /* content: counter(gallery-cell); */
    line-height: 800px;
    font-size: 80px;
    /* color: white; */
  }

  .flickity-button,
  .flickity-button:hover,
  .flickity-button:active,
  .flickity-button:focus{
    /* background: transparent !important; */
    color: transparent !important;
    outline: none !important;
  }

  .flickity-prev-next-button{
      top: 40% !important;
  }

  .flickity-button:focus{
    box-shadow: none !important;
  }

  .raving-cards{
    margin:80px 50px 50px!important;
  }

  .faq-cards{
    margin: 50px !important;
  }

  .why-us-cards{
    margin: 50px !important;
  }
  
  .flickity-prev-next-button.previous{
    left: -50px !important;
  }
  .flickity-prev-next-button.next{
    right: -50px !important;
  }

  @media (max-width:768px) {
    .raving-cards{
      margin: 0px !important;
    }
    .faq-cards{
      margin: 50px 0 0!important;
    }
    .why-us-cards{
      margin: 50px 0 0!important;
    }
    .why-us .flickity-prev-next-button.previous{
      left: -32px !important;
    }
    .why-us .flickity-prev-next-button.next{
      right: -32px !important;
    }
    .flickity-prev-next-button.previous{
      left: 0px !important;
    }
    .flickity-prev-next-button.next{
      right: 0px !important;
    }
    .faq .gallery-cell {
      height: 300px;
    }
    /* .why-us .gallery-cell {
      margin-right: 10px !important;
    } */
  }

  .flickity-page-dots{
    display: none !important;
  }