* {
  box-sizing: border-box;
}

.body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #FFF;
  color: #03488B;
}

.indexmain {
  text-align: center;
  font-size: 18px;
  margin-top: 40px;
}

.indexmain a {
  display: flex;
  justify-content: center;
}

.header {
  background: #D8F1FF;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.sticky-header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99;
}

#our-services {
  position: relative;
  top: -85px;
}

.header.header-pink {
  background: #FFEBEB;
}

.header-pink {
  background: #FFF9F9;
}

.main-header {
  display: flex;
  padding: 1.8rem 3.1rem 1.3rem;
  justify-content: space-between;
}

.main-header__items {
  display: flex;
  align-items: center;
}

.main-header__item {
  margin: 0 0.8rem;
}

.custom-body .main-header__item {
  margin: 0 0.4rem;
}

.main-header__item.item1 {
  font-size: 1.05rem;
  font-weight: 700;
  cursor: pointer;
  margin: 0 1rem;
}

.main-header__item.item1.extra-margin-header-1 {
  margin: 0 1.5rem;
}

.main-header__item.item2 button {
  border: none;
  border-radius: 6px;
  background: #31FFEA;
  color: #03488B;
  font-size: 1rem;
  font-weight: 700;
  height: 2.5rem;
  /* width: 10.6rem; */
  width: 120px;
}

.main-header__item.item2.yellow-button-lt button,
.yellow-button-lt {
  background: #FFE700 !important;
}

.main-header__item.item2.contact-us button {
  background: #FFE700;
  /* width: 8.6rem; */
  width: 150px;
}

.main-header__item.item1 img {
  height: 2.7rem;
}

.main-header__item.item2 img {
  height: 1.8rem;
}

.main-header__logo {
  cursor: pointer;
}

.main-header__logo img,
.custom-body2 .main-header__logo img {
  width: 6rem;
}

.custom-body .main-header__logo {
  display: flex;
}

.custom-body .main-header__logo img {
  width: 3rem;
}



.main {
  overflow: hidden;
  margin-bottom: 3.75rem;
  margin-top: -2px;
}

.margin-top-fixed {
  margin-top: 90px;
}

.footer {
  background: #03488B;
  color: #fff;
  padding: 6.25rem 5rem;
}

.footer-border-right {
  border-right: 1px solid #fff;
  margin: 0 50px;
}


.footer-col-heading {
  font-size: 0.875rem;
  line-height: 1rem;
  color: #31FFEA;
}

.footer-col-text {
  font-size: 0.75rem;
  line-height: 0.87rem;
  margin-top: 0.75rem;
}

.footer-col-button button {
  margin-top: 0.85rem;
  border-radius: 100px;
  width: 87px;
  height: 30px;
  text-align: center;
  background: transparent;
  border: 1px solid #fff;
  font-size: 0.75rem;
  line-height: 0.87rem;
  color: #fff;

}

.footer-hr {
  margin-top: 50px;
  border: 1px solid #fff;
}

.footer-bottom-av {
  margin: 50px 50px 20px;
}

.footer-bottom-contact {
  font-size: 0.75rem;
  line-height: 0.87rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.footer-bottom-contact span,
.footer-bottom-contact a {
  margin: 20px 50px;
}

.footer-bottom-insta {
  margin: 40px 50px;
}

.open {
  display: block !important;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mob-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-header__item a,
.main-header__item a:hover {
  text-decoration: none;
  color: inherit;
}

.footer-bottom-contact a {
  margin: auto 0 auto 0px;
  color: #fff;
  text-decoration: none;
}

.footer-bottom-contact a:hover {
  color: rgb(228, 225, 225);
}

.animated-button {
  -webkit-transition: all ease-out 0.7s;
  -moz-transition: all ease-out 0.7s;
  -o-transition: all ease-out 0.7s;
  transition: all ease-out 0.7s;
}

.animated-button:hover {
  transform: translateY(calc(-1*var(--animation-depth, .375em)));
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
  box-shadow: 5px 12px 3px -1px #4242424d;
}

.animated-button:active {
  transform: translateY(calc(-1*var(--animation-depth, .1em)));
  -webkit-transition: all ease-out 0.3s;
  -moz-transition: all ease-out 0.3s;
  -o-transition: all ease-out 0.3s;
  transition: all ease-out 0.3s;
  box-shadow: 2px 2px 1px 0px #4242424d;
}

.main-header__item.item1.signup-button button {
  background: #FFE700;
  width: 120px;
  height: 2.5rem;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  color: #03488B;
}

.main-header__logo.avmade-logo img,
.custom-body .main-header__logo.avmade-logo img,
.custom-body .main-header__logo.avmade-logo.cu img {
  width: 3.2rem;
}

.footer-new {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid rgba(3, 72, 139, 1);
  padding: 30px 60px 50px 60px;
  color: #03488B;
  margin-top: 150px;
}

.footer-new .dot {
  margin-top: -28px;
  font-size: 40px;
  font-weight: 700;
}

.footer-new .blue-underline {
  color: #399DFF;
  text-decoration: underline;
  cursor: pointer;
}

.footer-copyright {
  background: #03488B;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.width3rem img {
  width: 3rem;
}

.show-on-scroll-up-header {
  transition: top 0.3s ease-in-out;
}

.sticky-header.nav-up,
.show-on-scroll-up-header.nav-up.extra-mt {
  top: -195px;
}

.show-on-scroll-up-header.nav-up {
  top: -95px;
}

@media (min-width:993px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width:992px) {
  .hide-tablet {
    display: none;
  }

  .show-only-desktop.qaul-icons {
    display: none;
  }
}

@media (max-width:790px) {
  .footer-border-right {
    border-right: 1px solid #fff;
    margin: 0 10px;
  }

  .footer-bottom-contact a {
    width: 100%;
    text-align: center;
    margin: 20px 0;
  }

  .mh3 {
    padding: 2rem 1.4rem 1rem;
    align-items: center;
  }

  .main-header__item.item1,
  .main-header__item.item2.item3 {
    margin-bottom: 0px;
  }

  .main-header__item.item3 button {
    border: none;
    border-radius: 6px;
    background: #31FFEA;
    color: #03488B;
    font-size: 0.9rem;
    font-weight: 700;
    height: 2.5rem;
    /* width: 10.6rem; */
    width: 95px;
  }

  .main-header__logo.avmade-logo img,
  .custom-body .main-header__logo.avmade-logo img,
  .custom-body .main-header__logo.avmade-logo.cu img {
    width: 2.2rem;
  }

  .footer-new {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .footer-new .dot {
    margin-top: -18px;
  }

  .sticky-header.nav-up,
  .show-on-scroll-up-header.nav-up.extra-mt {
    top: -205px;
  }
}

@media (max-width:678px) {
  .hide-mobile {
    display: none;
  }

  .footer-bottom-av,
  .footer-bottom-insta,
  .footer-bottom-contact span {
    text-align: center;
  }

  .footer-bottom-contact {
    justify-content: center;
  }

  .footer-border-right {
    border: none;
    margin: 50px 15px;
  }

  .footer-hr {
    margin-top: 10px;
    border: 1px solid #fff;
  }

  .footer-col-button button {
    font-size: 11px;
    width: 105px;
  }

  .footer-copyright {
    font-size: 10px;
  }
}


@media (max-width:40rem) {

  .main-header {
    padding: 2rem 1.4rem;
  }

  .main-header__logo img,
  .custom-body2 .main-header__logo img {
    width: 5rem;
  }

  .custom-body .main-header__logo img {
    width: 2.2rem;
  }

  .main-header__item {
    margin: 0 0.35rem;
  }

  .main-header__item.item1 img {
    height: 2.1rem;
  }

  .main-header__item.item1,
  .main-header__item.item2 {

    margin-bottom: 30px;
  }

  .custom-body .main-header__item.item2 {

    margin-bottom: 0;
  }


  .main-header__item.item2 img {
    height: 1.4rem;

  }
}

.font-blue {
  color: #00D1FF;
}


.text-center {
  text-align: center;
}

.display-flex-helper1 {
  display: flex;
  justify-content: center;
}

.display-flex-helper2 {
  display: flex;
}

.display-flex-helper3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-flex-helper4 {
  display: flex;
  align-items: center;
}

.w-700 {
  font-weight: 700;
}

.hide {
  display: none !important;
}

.text-left {
  text-align: left !important;
}


.margin-bottom {
  margin-bottom: 30px;
}

.purple-bold {
  color: #6F3CFF;
  font-weight: 700;
}

.bold_ul {
  font-weight: 700;
  text-decoration: underline;
}



.avmade-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(11, 78, 144, 0.2);
  color: #004E93;
}

.custom-thank-you.avmade-body {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-thank-you .lottie-main {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #004E93;
  line-height: 23px;
  margin-top: 25px;
}

.custom-thank-you .lottie-subtext {
  font-size: 18px;
  text-align: center;
  color: #769EC1;
  margin-top: 15px;
}


@media (max-width: 786px) {

  .custom-thank-you .lottie-main {
    font-size: 16px;
    line-height: 18px;
  }

  .custom-thank-you .lottie-subtext {
    font-size: 12px;
  }

  .custom-body .main-header__item.avmade-gs-mob-tm {
    margin-top: 30px;
  }

  .width3rem img {
    width: 3rem;
  }

  .mob-nav.left-nav {
    align-items: flex-start;
    padding-left: 20px;
  }
}

.main-header__item.item2.header-margin-bottom-0 {
  margin-bottom: 0;
}

.header-menu {
  background: #f1f1f1;
  height: auto;
  width: auto;
  font-weight: 500;
  font-size: 14px;
  padding: 10px 35px;
  border-radius: 25px;
  border: none;
  color: #001B35;
}