* {
    box-sizing: border-box;
  }
  
  .body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background:#FFF;
    color: #03488B;
  }

  .indexmain{
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
  }

  .indexmain a{
    display: flex;
    justify-content: center ;
  }

  .header{
    background:#D8F1FF;
  }

  .header-pink{
    background: #FFF9F9;
  }

  .main-header{
    display: flex;
    padding: 1.8rem 3.1rem 1.3rem;
    justify-content: space-between;
  }

  .main-header__items{
      display: flex;
      align-items: center;
  }

  .main-header__item{
      margin: 0 0.8rem;
  }
  .main-header__item.item1{
    font-size: 1.05rem;
    font-weight: 700;
  }

  .main-header__item.item2 button{
    border: none;
    border-radius: 6px;
    background: #31FFEA;
    color: #03488B;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3rem;
    width: 8.6rem;
  }

  .main-header__item.item1 img{
      height: 2.7rem;
  }

  .main-header__item.item2 img{
    height: 1.8rem;
  }

  .main-header__logo img{
    width: 8rem;
  }

  .main{
    overflow: hidden;
    margin-bottom: 3.75rem;
  }

  .footer{
    background: #03488B;
    color: #fff;
    padding: 6.25rem 5rem;
  }

  .footer-border-right{ 
    border-right: 1px solid #fff;
    margin: 0 50px;
  }
  

  .footer-col-heading{
    font-size: 0.875rem;
    line-height: 1rem;
    color: #31FFEA;
  }
  .footer-col-text{
    font-size: 0.75rem;
    line-height: 0.87rem;
    margin-top: 0.75rem;
  }

  .footer-col-button button{
    margin-top: 0.85rem;
    border-radius: 100px;
    width: 87px;
    height: 30px;
    text-align: center;
    background: transparent;
    border: 1px solid #fff;
    font-size: 0.75rem;
    line-height: 0.87rem;
    color: #fff;
   
  }
  .footer-hr{
    margin-top: 50px;
    border: 1px solid #fff;
  }
  .footer-bottom-av{
    margin: 50px 50px 20px;
  }
  .footer-bottom-contact{
    font-size: 0.75rem;
    line-height: 0.87rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .footer-bottom-contact span{
    margin: 20px 50px;
  }
  .footer-bottom-insta{
    margin: 40px 50px;
  }

  @media (min-width:993px) {
    .hide-desktop{
      display: none;
    }
  }

  @media (max-width:992px) {
    .hide-tablet{
      display: none;
    }
  }

  @media (max-width:790px) {
    .footer-border-right{ 
      border-right: 1px solid #fff;
      margin: 0 10px;
    }
  }

  @media (max-width:678px) {
    .hide-mobile{
      display: none;
    }
    .footer-bottom-av,
    .footer-bottom-insta,
    .footer-bottom-contact span{
      text-align: center;
    }
    .footer-bottom-contact{
      justify-content: center;
    }
    .footer-border-right{
      border: none;
      margin: 50px 15px;
    }
    .footer-hr{
      margin-top: 10px;
      border: 1px solid #fff;
    }
  }


  @media (max-width:40rem) {

    .main-header{
      padding: 2rem 1.4rem;
      }

    .main-header__logo img{
        width: 6.5rem;
      }

      .main-header__item{
        margin: 0 0.35rem;
    }
  
    .main-header__item.item1 img{
        height: 2.1rem;
    }
  
    .main-header__item.item2 img{
      height: 1.4rem;
  }
  }

  .font-blue{
   color: #00D1FF; 
  }


  .text-center{
    text-align: center;
  }
  .display-flex-helper1{
    display: flex;
    justify-content: center;
  }

  .display-flex-helper2{
    display: flex;
  }

  .display-flex-helper3{
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .hide{
    display: none;
  }

  .text-left{
    text-align: left !important;
  }