.risk-cards {
    display: flex;
}

.card-section1 {
    width: 35%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    padding-left: 50px;
}

.card-section1 .info {
    display: flex;
    /* justify-content: center; */
    margin-top: 15px;
}

.risk-card {
    width: 250px;
    height: 450px;
    border-radius: 10px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
}

.risk-card .card-heading {
    font-size: 15px;
    font-weight: 700;
    width: 80%;
}

.risk-card img {
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.risk-card button {
    outline: none;
    border: none;
    background: #FFE700;
    color: #03488B;
    font-weight: 500;
    padding: 5px 21px;
    border-radius: 50px;
    font-size: 15px;
    margin: 30px auto 0;
}

.risk-card1 {
    background: #FFECEC !important;
}

.risk-card3 {
    background: #EEEBFF !important;
}

.risk-card2 {
    background: #FEFFCB !important;
}

.risk-card4 {
    background: #EEF9FF !important;
}

.risk-card5 {
    background: #E4FDFA !important;
}

.risk-card6 {
    background: #FDF1E4 !important;
}

.position-relative {
    position: relative;
}

.rotate10 {
    transform-origin: bottom left;
    transform: rotate(10deg);
    position: absolute;
    top: 0;
}

.rotate20 {
    transform-origin: bottom left;
    transform: rotate(17deg);
    position: absolute;
    top: 0;
}

.card-section2,
.card-section3 {
    width: 25%;
}

.card-section1 h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.card-section1 .arrows {
    display: flex;
    margin-top: 15px;
}

.card-section1 .arrows img {
    height: 35px;
}
.card-section1 .arrows .disabled{
    opacity: 0.5;
}

.card-section1 .arrows .left img {
    transform: rotate(180deg);
}

.card-section1 .arrows .left {
    margin-right: 20px;
}

.card-section1 .arrows .outline {
    border: 1px solid #03488B;
    padding: 2px 25px;
    border-radius: 20px;
    cursor: pointer;
}
.card-heading-empty{
    height: 30px;
}
.empty-img{
    height: 263px;
}
.modal-content.um{
    max-width: 800px;
    position: relative;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
.close-modal{
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal-dialog{
    max-width: 800px !important;
}
.modal-content.um h3{
    margin-top: 30px;
}
.modal-content.um .main-img-modal{
    display: flex;
    margin: auto;
    border-radius: 10px;
    max-height: 500px;
    max-width: 100%;
}
.modal-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.white-button{
    border: none;
    color: #03488B;
    font-weight: 500;
    width: 300px;
    padding: 15px;
    border-radius: 25px;
    margin-top: 45px;
    font-size: 18px;
}
.yellow-button{
    border: none;
    color: #03488B;
    background: #FFE700;
    font-weight: 500;
    width: 145px;
    font-size: 14px;
    padding: 8px;
    border-radius: 25px;
    margin-top: 35px;
    text-transform: uppercase;
}
.orange-button{
    border: none;
    color: #03488B;
    background: #FF6D3A;
    font-weight: 500;
    width: 145px;
    font-size: 14px;
    padding: 8px;
    border-radius: 25px;
    margin-top: 45px;
}
.green-button{
    border: none;
    color: #03488B;
    background: #00FFD1;
    font-weight: 500;
    width: 180px;
    font-size: 14px;
    padding: 10px;
    border-radius: 25px;
    margin-top: 70px;
}
.mt-10px{
    margin-top: 10px;
}
.tl{
    text-align: left;
}
@media (max-width:786px) {
    .risk-cards {
        flex-wrap: wrap;
        margin-bottom: 70px;
    }
    .card-section1 {
        width: 100%;
        align-items: center;
        padding-left: 0;
    }

    .risk-card {}

    .card-section2,
    .card-section3 {
        width: 50%;
        margin-top: 50px;
    }

    .risk-card {
        width: 200px;
        height: 370px;
    }

    .risk-card .card-heading {
        font-size: 12px;
    }

    .risk-card button {
        font-size: 12px;
        padding: 9px 21px;
    }
}