.brands-section{
    margin: 1rem 2rem;
    /* background:#ffff; */
    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.1); */
    /* max-width: 1400px; */


    min-height: 50px;
    padding: 2rem;
    margin: auto;
    background: url(../images/Vector90.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% bottom 0%;
}

.brands-section__col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brands-section__nothing img{
    width: 450px;
}

.brands-section__use{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brands-section__use img{
    height: 487px;
    width: 673px;
}

.brands-section-info{
    max-width: 390px;
    margin-top: 1.5rem;
}

.brands-section-info p{
    padding-bottom: 0.4rem;
    margin: 0;
}
.brands-section-email{
    display: flex;
    margin-top: 3.5rem;
    flex-wrap: wrap;
}

.brands-section-email input{
    /* height: 3.5rem; */
    width: 14rem;
    border: 0.5px solid #A6CAFF;
    border-radius: 5px;
    padding: 1rem;
    /* margin-top: 1rem; */
}
.brands-section-email input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FCA96D;
    opacity: 1; /* Firefox */
  }

.brands-section-email button{
    background: #FFE700;
    /* height: 3.5rem; */
    width: 14rem;
    color: #03488B;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
}
.brands-section__pitch{
    border: 1px solid #03488B;
    border-radius: 10px;
    width: 24rem;
    padding: 0.2rem 2.5em;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.brands-section__col1{
    display: flex;
    justify-content: center;
}

.brands-illustration{
    background: #ffff;
    margin-top: 2rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}
.brand-illustration__brands{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.brands-illustration__how{
    text-align: center;
    font-size: 3.1rem;
    font-weight: 900;
    line-height: 3.6rem;
    margin-top: 5rem;

}

.brands-illustration__row{
    display: flex;
    align-items: baseline;
    margin: 0 !important;
}

.rounded-number{
    height: 30px;
    width: 52px;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    padding: 25px;
}

.purple-round{
    background: #E4D3FF;
}

.brands-illustration__image1 img{
    height: 24.3rem;
}
.brands-illustration__details--heading{
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.1rem;
}
.brands-illustration__details--info{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6rem;
}

.raving{
    background: #ffff;
    margin-top: 4rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}

.raving-heading{
    padding-top: 4rem;
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}
.raving-card{
    width: 25rem;
}
.raving-card__image{
    text-align: center;
}
.raving-card__image img{
    border: 5px solid white;
    border-radius: 50%;
}
.raving-card__info{
    
    border-radius: 20px;
    margin-top: -6.8rem;
    height: 30rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.raving-card__info-color1{
    background: #FFE1DB;
}
.raving-card__info-color2{
    background: #FFF6A1;
}
.raving-card__info-color3{
    background: #DBFBFF;
}
.raving-card__info--desc{
    margin-top: 7rem;
}

.raving-card__info--name{
    font-weight: 900;
}

.faq{
    background: #ffff;
    margin-top: 4rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}

.faq-heading{
    padding-top: 4rem;
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}

.gallery{
    background: none;
}

@media (max-width:1050px) {

    .brands-section-email input{
        width: 12rem;
    }

    .brands-section-email button{
        width: 12rem;
    }

}


@media (max-width:1000px) {

   

    .brands-section__nothing img{
        width: 350px;
    }
    .brands-section-email input{
        width: 100%;
        margin: 0 0 1rem 0 !important;
    }

    .brands-section-email button{
        width: 100%;
    }

    .brands-section__pitch{
        width: 21rem;
        padding: 0.2rem 0.7em;
    }

    .brands-illustration__how{
        font-size: 2.2rem;
        line-height: 2.4rem;
    }

    .brands-illustration__image1 img{
        height: 18rem;
    }

    .brands-illustration__details--heading{
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    .brands-illustration__details--info{
        font-size: 1rem;
        line-height: 1.2rem;
    }

}

@media (max-width:768px) {

    .brands-section__col2{
        margin-top: 2rem !important;
        padding: 0 !important;
    }

    .brands-illustration__image1 img{
        height: 10rem;
    }

    .brands-illustration__how{
        font-size: 1.7rem;
        line-height: 2rem;
    }
    
    .brands-illustration__row{
        margin: 30px auto 30px!important;
        align-items: center;
    }

    .brands-illustration__row > div {
        margin-bottom: 20px;
    }
    .brands-illustration__image1{
        display: flex;
        justify-content: center;
    }
      
}

@media (max-width:575px) {

    .brands-section{
        background: url(../images/Vector3.svg) center/cover no-repeat border-box;
        background-position: left 0% bottom 0%;
    }
    
    .flex-col-reverse{
        flex-direction: column-reverse;
    }
    
}
