.brands-section{
    margin: 1rem 2rem;
    /* background:#ffff; */
    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.1); */
    /* max-width: 1400px; */


    min-height: 50px;
    padding: 2rem;
    margin: auto;
    background: url(../images/Vector90.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% bottom 0%;
}

.brands-section__col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brands-section__nothing img{
    width: 450px;
}

.brands-section__use{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brands-section__use img{
    height: 487px;
    width: 673px;
}

.brands-section-info{
    max-width: 390px;
    margin-top: 1.5rem;
}

.brands-section-info p{
    padding-bottom: 0.4rem;
    margin: 0;
}
.brands-section-email{
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
}

.brands-section-email input{
    /* height: 3.5rem; */
    width: 14rem;
    border: 0.5px solid #A6CAFF;
    border-radius: 5px;
    padding: 1rem;
    /* margin-top: 1rem; */
}
.brands-section-email input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FCA96D;
    opacity: 1; /* Firefox */
  }

.brands-section-email button{
    background: #FFE700;
    /* height: 3.5rem; */
    width: 14rem;
    color: #03488B;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 700;
    margin-left: 15px;
}
.brands-section__pitch{
    border: 1px solid #03488B;
    border-radius: 10px;
    width: 24rem;
    padding: 0.2rem 2.5em;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.brands-section__col1{
    display: flex;
    justify-content: center;
}

.brands-illustration{
    background: #ffff;
    margin-top: 2rem;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}
.brand-illustration__brands{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bi-carousel-col1{
   display: flex;
   justify-content: center;
}
.bi-carousel-title{
    font-size: 1.3rem;
    font-weight: 600;
    width: auto;
    text-align: center;
    /* padding-right: 0; */
    margin-left: 10px;

}

.bi-image{
padding: 20px;
max-width: 250px;
}

.brands-illustration__how{
    text-align: center;
    font-size: 3.1rem;
    font-weight: 900;
    line-height: 3.6rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.brands-illustration__container{
    background: url('../images/how-it-works-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
}

.brands-illustration__container_mobile{
    /* width: 80%;
    display: flex; */
}
.accordion-item{
    /* width: 80%; */
    border: none !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    font-family: 'Roboto', sans-serif;
    color: #03488B;
    margin-top: -10px;
}

.rounded-accordian{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.brands-illustration__accordian{
    display: flex;
    padding: 10rem;
    margin: 0 auto;
}

.brands-illustration__accordian--heading{
    border: none;
    height: 600px;
    width: 120px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    align-items: center;
    color: #03488B;
}

.brands-illustration__accordian--heading:active,
.brands-illustration__accordian--heading:focus,
.brands-illustration__accordian--heading:hover{
    border: none !important;
    outline: none !important;
}

.accordian-button-mobile{
    width: 100%;
    background: no-repeat;
    border: none;
    outline: none;
    height: 85px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1rem;
    line-height: 0.87rem;
    font-weight: 600;
    color: #03488B;
}

.item1__image img{
    max-height: 475px;
    max-width: 400px;
}

.item1__image_mobile img{
    height: 330px;
}

.accordian_mob_carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordian_1{
    background: #CFFEFB;
}
.accordian_2{
    background: #FFF;
}
.accordian_3{
    background: #FFECA8;
}
.accordian_4{
    background: #EAAEFF;
}

.bi_button_number{
    
    font-size: 1.5rem;
    line-height: 1.85rem;
    font-weight: 600;
}

.bi_button_text{
    transform: rotateZ(270deg);
    margin-top: 9rem;
    width: 15rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
    text-align: right;
}

.item1__info--heading{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
}

.item1__info--para{
    width: 270px;
    font-size: 1rem;
    line-height: 1.12rem;
    font-weight: 400;
    margin-top: 1rem;
}

.item1__info__mob--para{
    width: 330px;
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.max-width-accordian{
    max-width: 700px;
}



.bi-carousel{
    width: 20rem;
    max-height: 29.6rem;
}

.bi-carousel .gallery-cell {
    width: auto;
    height: 31rem;
    margin-right: 50px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
  }
.bi-carousel .gallery-cell img{
    max-width: 23.4rem;
    max-height: 29.6rem;
}

.bi-carousel.tablet2{
    width: 19rem;
    max-height: 22.6rem;
}

.bi-carousel.tablet2 .gallery-cell {
    width: auto;
    height: 23rem;
    margin-right: 0px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
    z-index: 9;
  }

.bi-carousel.tablet2 .gallery-cell img{
    max-width: 17rem;
    max-height: 22.6rem;
}

.bi-carousel .flickity-prev-next-button.next{
    position: inherit;
    left: 140px !important;
}

.bi-carousel .flickity-prev-next-button.previous{
    position: inherit;
    left: 100px !important;
}

.rounded-number{
    height: 30px;
    width: 52px;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    padding: 25px;
}

.purple-round{
    background: #E4D3FF;
}

.raving{
    background: #ffff;
    margin-top: 4rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}

.raving-heading{
    padding-top: 4rem;
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}
.raving-card{
    width: 25rem;
}
.raving-card__image{
    text-align: center;
}
.raving-card__image img{
    border: 5px solid white;
    border-radius: 50%;
    max-width: 12.5rem;
}
.raving-card__info{
    
    border-radius: 20px;
    margin-top: -6.8rem;
    height: 30rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.raving-card__info-color1{
    background: #FFE1DB;
}
.raving-card__info-color2{
    background: #FFF6A1;
}
.raving-card__info-color3{
    background: #DBFBFF;
}
.raving-card__info--desc{
    margin-top: 7rem;
}

.raving-card__info--name{
    font-weight: 900;
}

.faq{
    background: #ffff;
    margin-top: 5rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}

.faq-heading{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}
.faq-card{
    width: 25rem;
}
.faq__info{
    border-radius: 20px;
    height: 30rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.faq__info--title{
    font-size: 2.5rem;
    font-weight: 900;
}
.faq__info--desc{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 400;
    margin-top: 1.2rem;
}
.faq__info-color1{
    background: #DBF6FF;
}
.faq__info-color2{
    background: #A1FFB6;
}
.faq__info-color3{
    background: #FFF6A1;
}


.whyAV{
    background: #ffff;
    margin-top: 5rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}
.whyAV-heading{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}
.whyAv-table{
    padding: 5rem 2rem 2rem;
    max-width: 1100px;
    margin: auto;
    font-size: 1.8rem;
}
.whyAv-table .col-3{
    padding: 60px;
    text-align: center;
}
.whyAv-table--bbb{
    border-bottom: 0.5px solid #A2D2F0;
}
.whyAv-table--bl{
    border-left: 0.5px solid #A2D2F0;
}
.whyAv-table--blueCol{
    background: #F3FFFD;
    box-shadow:  3px 3px 2px rgb(0 0 0 / 10%);
}

.whyAv-table img{
    max-width: 120px;
}
.whyAv-orange{
    color: #FF6D3A;
}
.unlock{
    background: url('../images/unlock-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% bottom 0%;
    margin-top: 7rem;
    padding: 1rem;
}
.unlock-cards{
    margin-top: 5rem;
}
.unlock-card{
    padding: 40px;
    margin: 50px;
    border-radius: 20px;
}
.unlock-card1--bg{
    background: #DCFEFC;
}
.unlock-card2--bg{
    background: #F5D7FF;
}
.unlock-card3--bg{
    background: #FFF9BF;
}
.unlock-card__image{
    text-align: center;
}
.unlock-card__text{
    padding: 0.9rem;
}
.unlock-card__title{
    font-size: 1.25rem;
    font-weight: 700;
}
.unlock-card__info{
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.unlock__title{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}

.unlock-button{
    text-align: center;
    margin-top: 3rem;
}
.unlock-button button{
    background: #FFE700;
    border: 0;
    border-radius: 100px;
    padding: 20px;
    width: 270px;
    font-size: 1.62rem;
    line-height: 1.88rem;
    font-weight: 500;
    color: #03488B;
}
.unlock-change{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 900;
    margin-top: 4rem;
    text-align: center;
}

.raving-button{
    text-align: center;
}
.raving-button button{
    background: #FFE700;
    border: 0;
    border-radius: 100px;
    padding: 20px;
    width: 270px;
    font-size: 1.62rem;
    line-height: 1.88rem;
    font-weight: 500;
    color: #03488B;
}

.gallery{
    background: none;
}

.quality{
    background: #ffff;
    margin-top: 2rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}

.quality-heading{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}

.quality-sub-heading{
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    margin-top: 6rem;
}

.quality-video{
    width: 100%;
    max-width: 740px;
    margin: 8rem auto 0;
}

.marketplace{
    background: #FFE1DB;
    margin-top: 8rem;
}

.bi-container{
    padding: 2rem;
}
.marketplace-container{
   padding: 5rem;
}

.marketplace-image{
   border-radius: 10px;
}
.container{
    max-width: 100% !important;
}

.marketplace-explore{
    text-align: right;
    margin-top: 80px;
    margin-right: 30px;
    font-size: 2rem;
    font-weight: 600;
}

.marketplace-explore img{
    margin-left: 80px;
}

@media (max-width:1100px) {
    .unlock-card{
        margin: 30px;
        display: flex;
        align-items: center;
    }
}

@media (max-width:1050px) {

    .brands-section-email input{
        width: 12rem;
    }

    .brands-section-email button{
        width: 12rem;
        margin-left: 0;
    }
  

}


@media (max-width:1000px) {

   

    .brands-section__nothing img{
        width: 350px;
    }
    .brands-section-email input{
        width: 100%;
        margin: 0 0 1rem 0 !important;
    }

    .brands-section-email button{
        width: 100%;
        margin-left: 0;
    }

    .brands-section__pitch{
        width: 21rem;
        padding: 0.2rem 0.7em;
    }

    .brands-illustration__how{
        font-size: 2.2rem;
        line-height: 2.4rem;
        margin-bottom: 3rem;
    }
    .raving-heading{
        font-size: 2.1rem;
        line-height: 2.4rem;
        margin-bottom: 2rem;
    }
    .faq-heading{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .whyAV-heading{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .quality-heading{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .unlock__title{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .unlock-button{
        margin-top: 70px;
    }
    .raving-button{
        margin-top: 20px;
    }
    .marketplace-explore img{
        margin-left: 50px;
    }

    .bi-carousel-title{
        width: auto;
        text-align: center;
    }
    .whyAv-table {
        font-size: 1.3rem;
    }

}

@media (max-width:768px) {

    .raving-card{
        width: 21rem;
    }
    .faq-card{
        width: 21rem;
    }

    .brands-section__col2{
        margin-top: 2rem !important;
        padding: 0 !important;
    }

    .quality-sub-heading{
        font-size: 1rem;
        margin-top: 2rem;
    }
    .quality-video{
        margin: 4rem auto 0;
    }
    .marketplace{
        margin-top: 5rem;
    }
    .bi-container{
        padding: 1rem;
    }
    .marketplace-container{
        padding: 3rem;
     }

     .marketplace-explore{
         font-size: 1.6rem;
     }
     .marketplace-explore img{
        height: 1.6rem;
        margin-left: 20px;
    }
    .faq__info--title{
        font-size: 1.8rem;
    }
    .faq__info--desc{
        font-size: 1.2rem;
        line-height: 1.4rem;
    }
    .whyAv-table{
        font-size: 1rem;
    }
    .whyAv-table .col-3{
        padding: 40px 20px;
    }
    
    .whyAv-table img{
        max-width: 50px;
    }

    .whyAv-reduceImg .col-3 img{
        max-width: 25px;
    }

    .reduce-cross.col-3 img{
        max-width: 12px;
    }
    .unlock-card{
        margin: 20px;
    }
    .unlock{
        background: url('../images/unlock-bg-mob.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 20% bottom 0%; 
    }
    .unlock-card__image img{
        height: 150px;
        max-width: 9.5rem;
    }
}

@media (max-width:575px) {

    .brands-section{
        background: url(../images/Vector3.svg) center/cover no-repeat border-box;
        background-position: left 0% bottom 0%;
    }
    
    .flex-col-reverse{
        flex-direction: column-reverse;
    }

    .whyAV{
        margin-top: 2rem;
    }

    .whyAv-table{
        font-size: 0.75rem;
        padding: 2rem 0.5rem 0.5rem;
    }

    .whyAv-table .col-3{
        padding: 30px 10px;
    }
    
}



.carouselItem {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s  height 0s ease;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    white-space: normal;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 0px;
    height: 100%;
    max-height: 100%;
    flex-wrap: nowrap;
    margin-left: -20px;
    /* margin-right: -20px; */
    border-radius: 10px;
}
.carouselItem.in {
    width: 700px;
    margin-right: -20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flickity-prev-next-button.next{
    background: url(../images/right.svg) !important;
    color: transparent !important;
    background-size: cover !important;
}

.flickity-prev-next-button.previous{
    background: url(../images/left.svg) !important;
    color: transparent !important;
    background-size: cover !important;
}