.brands-section{
    margin: 1rem 2rem;
    /* background:#ffff; */
    /* border-radius: 10px; */
    /* box-shadow: 2px 2px 2px 0 rgb(0, 0, 0, 0.1); */
    /* max-width: 1400px; */

    min-height: 50px;
    padding: 3rem 2rem 1rem;
    margin: auto;
    background: url(../images/Vector90.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% bottom 0%;
}

.custom-body .brands-section{
    background: url(../images/Vector\ 90Pink.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% bottom 0%;
}

.brands-section__col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.brands-section__nothing img{
    width: 410px;
}
/* .custom-body .brands-section__nothing img{
    width: 450px;
} */

.brands-section__use{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* .brands-section__use img{
    width: 400px;
} */

.brands-section-info{
    max-width: 410px;
    margin-top: 1.5rem;
}

.brands-section-info p{
    padding-bottom: 0.4rem;
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.43rem;
}
.custom-body .brands-section-info p{
    font-size: 1.15rem;
}
.brands-section-email{
    display: flex;
    margin-top: 1.5rem;
    flex-wrap: wrap;
    font-size: 0.875rem;
}

.brands-section-email input{
    /* height: 3.5rem; */
    width: 12rem;
    border: 0.5px solid #A6CAFF;
    border-radius: 5px;
    padding: 1rem;
    /* margin-top: 1rem; */
    margin-right: 10px;
}
.brands-section-email input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #FCA96D;
    opacity: 1; /* Firefox */
  }

.brands-section-email button{
    background: #FFE700;
    /* height: 3.5rem; */
    width: 12rem;
    color: #03488B;
    border: none;
    border-radius: 5px;
    box-shadow: none;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
   
}
.brands-section-email button.bam{
    background: #31FFEA;
    margin-left: 15px;
}
.brands-section-email input:focus-visible{
    /* border: none; */
    outline: initial;
}
.brands-section__pitch{
    border: 1px solid #03488B;
    border-radius: 10px;
    width: 24rem;
    padding: 0.2rem 2.5em;
    margin: 1rem auto 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.brands-section__col1{
    display: flex;
    /* justify-content: center; */
}

.brands-section__use .brands-section__col{
    flex-direction: row;
    align-items: center;
}

.brands-section-margin-left{
    margin-left: 15px;
}

.brands-section-1{
    border-radius: 20px;
    /* width: 400px; */
    height: 484px;
    z-index: 1;
}

.brands-section-2{
    /* width: 450px; */
    height: 367px;
    width: 747px;
    margin-left: -10px;
}

.brands-illustration{
    background: #ffff;
    /* margin-top: 1rem; */
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}
.brand-illustration__brands{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bi-carousel-col1{
   display: flex;
   justify-content: center;
}
.bi-carousel-title{
    font-size: 1.125rem;
    font-weight: 600;
    width: auto;
    min-width: 120px;
    display: flex;
    margin: auto 0 auto 120px;

}

.custom-body .bi-carousel-title{
    font-size: 1.2rem;
    font-weight: 700;
}
.custom-body .bi-carousel-col2{
    margin-left: 20px;
    width: 89%;
}

.bi-image{
padding: 20px;
max-width: 250px;
}

.splendid-padding{
    padding: 8px;
}
.supreme-padding{
    padding: 15px;
}

.brands-illustration__how{
    text-align: center;
    font-size: 3.1rem;
    font-weight: 900;
    line-height: 3.6rem;
    margin-top: 8rem;
    margin-bottom: 6.6rem;
}

.brands-illustration__container{
    background: url('../images/how-it-works-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.brands-illustration__container_mobile{
    margin-top: 35px;
    /* width: 80%;
    display: flex; */
}
.accordion-item{
    /* width: 80%; */
    border: none !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    font-family: 'Roboto', sans-serif;
    color: #03488B;
    margin-top: -10px;
}

.rounded-accordian{
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    padding: 5px;
}

.item-mob{
    text-align: center;
}
.brands-illustration__accordian{
    display: flex;
    padding: 2rem;
    margin: 0 auto;
}

.brands-illustration__accordian--heading{
    border: none;
    height: 700px;
    width: 105px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2.2rem;
    align-items: center;
    color: #03488B;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
}
.border-left{
    border-left: 5px solid #fff;
}

.border-right{
    border-right: 5px solid #fff;
}

.brands-illustration__accordian--heading:active,
.brands-illustration__accordian--heading:focus,
.brands-illustration__accordian--heading:hover{
    /* border: none !important; */
    outline: none !important;
}

.accordian-button-mobile{
    width: 100%;
    background: no-repeat;
    border: none;
    outline: none;
    height: 85px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1rem;
    line-height: 0.65rem;
    font-weight: 600;
    color: #03488B;
}

.item1__image img{
    max-height: 575px;
    max-width: 530px;
    border-radius: 10px;
}

.item0__image img{
    max-height: 475px;
    max-width: 437px;
    border-radius: 10px;
}

.item1__image_mobile img{
    height: 330px;
    border-radius: 10px;
}

.accordian_mob_carousel{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordian_0{
    background: #CFFEFB;
}
.accordian_1{
    background: #FFEBEB;
}
.accordian_2{
    background: #FFF;
}
.accordian_3{
    background: #FFECA8;
}
.accordian_4{
    background: #EAAEFF;
}

.bi_button_number{
    
    font-size: 1.5rem;
    line-height: 1.85rem;
    font-weight: 600;
}

.bi_button_text{
    transform: rotateZ(270deg);
    margin-top: 9rem;
    width: 15rem;
    font-size: 1.1rem;
    line-height: 1.4rem;
    font-weight: 500;
    text-align: right;
}

.item1__info--heading{
    font-size: 1.8rem;
    line-height: 2rem;
    font-weight: 700;
}

.item1__info--para{
    width: 270px;
    font-size: 1rem;
    line-height: 1.12rem;
    font-weight: 400;
    margin-top: 1rem;
    max-width: 180px;
}

.item1__info--para.item0{
    width: 310px;
    max-width: none;
}
.item1__header__mob--para{
    font-size: 22px;
    font-weight: 700;
    margin-top: 3rem;
}
.item1__info__mob--para{
    width: 300px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.max-width-accordian{
    max-width: 700px;
}



.bi-carousel{
    width: 20rem;
    max-height: 29.6rem;
}

.bi-carousel .gallery-cell {
    width: auto;
    height: 31rem;
    margin-right: 50px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
  }
.bi-carousel .gallery-cell img{
    max-width: 23.4rem;
    max-height: 29.6rem;
}

.bi-carousel.tablet2{
    width: 19rem;
    max-height: 22.6rem;
    margin: auto;
}

.bi-carousel.tablet2 .gallery-cell {
    width: auto;
    height: 23rem;
    margin-right: 0px;
    /* background: #8C8; */
    counter-increment: gallery-cell;
    z-index: 9;
  }

.bi-carousel.tablet2 .gallery-cell img{
    max-width: 17rem;
    max-height: 22.6rem;
}

.bi-carousel .flickity-prev-next-button.next{
    position: inherit;
    left: 140px !important;
}

.bi-carousel .flickity-prev-next-button.previous{
    position: inherit;
    left: 100px !important;
}

.rounded-number{
    height: 30px;
    width: 52px;
    justify-content: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 25px;
    padding: 25px;
}

.purple-round{
    background: #E4D3FF;
}

.purple-bold{
    color: #6F3CFF;
    font-weight: 700;
}

.why-us{
    margin-top: 186px;
}

.why-us-title{
    font-family: Roboto;
    font-size: 40px;
    font-weight: 900;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: center;
}

.raving{
    background: #ffff;
    margin-top: 11rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}

.raving-heading{
    padding-top: 4rem;
    font-size: 2.5rem;
    line-height: 2.9rem;
    font-weight: 900;
    text-align: center;
}
.raving-card{
    width: 25rem;
}
.raving-card__image{
    text-align: center;
}
.raving-card__image img{
    border: 8px solid white;
    border-radius: 50%;
    max-width: 12.5rem;
    max-height: 11.6rem;
}
.raving-card__info{
    
    border-radius: 20px;
    margin-top: -6.8rem;
    height: 30rem;
    padding: 1.4rem 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.raving-card__info-color1{
    background: #FFE1DB;
}
.raving-card__info-color2{
    background: #FFF6A1;
}
.raving-card__info-color3{
    background: #DBFBFF;
}
.raving-card__info--desc{
    margin-top: 9rem;
}

.raving-card__info--name{
    font-weight: 900;
}

.faq{
    background: #ffff;
    margin-top: 12.5rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}

.faq-heading{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}
.faq-card{
    width: 29.1rem;
}
.why-us-card{
    width: 423px;
    border: 1px solid #03488B;
}
.why-us__info{
    border-radius: 20px;
    height: 356px;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: center; */
}
.faq__info{
    border-radius: 20px;
    height: 30rem;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.faq__info--title{
    font-size: 22px;
    font-weight: 900;
}
.faq__info--desc{
    font-size: 16px;
    line-height:18.75px;
    font-weight: 400;
    margin-top: 1.2rem;
}
.why-us__info--title{
    font-size: 30px;
    font-weight: 700;
}
.why-us__info--desc{
    font-size: 16px;
    line-height:18.75px;
    font-weight: 400;
    margin-top: 7px;
}
.faq__info-color1{
    background: #DBF6FF;
}
.faq__info-color2{
    background: #D1FFDB;
}
.faq__info-color3{
    background: #FFF6A1;
}
.faq__info-color4{
    background: #C6FFF0;
}
.faq__info-color5{
    background: #FFE1DB;
}
.top-border-radius-blue{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bottom-border-radius-blue{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.whyAV{
    background: #ffff;
    margin-top: 10rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}
.whyAV-heading{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
}
.whyAv-table{
    padding: 5rem 2rem 2rem;
    max-width: 1100px;
    margin: auto;
    font-size: 18px;
}
.why-table-heading{
    font-size: 25px;
}

.whyAv-table .col-3{
    padding: 35px 10px;
    text-align: center;
}
.whyAv-table--bbb{
    border-bottom: 0.5px solid #A2D2F0;
}
.whyAv-table--bl{
    border-left: 0.5px solid #A2D2F0;
}
.whyAv-table--blueCol{
    background: #F3FFFD;
    box-shadow:  3px 3px 2px rgb(0 0 0 / 2%);
}

.whyAv-table .stars img{
    max-width: 120px;
}
.whyAv-table img{
    max-width: 27px;
}
.whyAv-table .why-av{
    max-width: 60px;
}
.whyAv-orange{
    color: #FF6D3A;
}
.unlock{
    background: url('../images/unlock-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 20% bottom 0%;
    margin-top: 10.5rem;
    padding: 1rem;
}
.unlock-cards{
    margin-top: 5rem;
}
.unlock-card{
    padding: 40px;
    margin: 50px;
    border-radius: 20px;
}
.unlock-card1--bg{
    background: #DCFEFC;
}
.unlock-card2--bg{
    background: #F5D7FF;
}
.unlock-card3--bg{
    background: #FFF9BF;
}
.unlock-card__image{
    text-align: center;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unlock-card__image img{
   max-height: 160px;
    max-width: 200px;
}
.unlock-card__text{
    padding: 0.9rem;
}
.unlock-card__title{
    font-size: 1.25rem;
    font-weight: 700;
}
.unlock-card__info{
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.3rem;
}

.unlock__title{
    font-size: 3.1rem;
    line-height: 3.6rem;
    font-weight: 900;
    text-align: center;
    margin-top: 10.4rem;
}

.unlock-button{
    text-align: center;
    margin-top: 270px;
}
.unlock-button button{
    background: #FFE700;
    border: 0;
    border-radius: 100px;
    /* padding: 20px; */
    height: 60px;
    width: 270px;
    font-size: 1.3rem;
    line-height: 1.88rem;
    font-weight: 500;
    color: #03488B;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}
.unlock-change{
    font-size: 3.75rem;
    line-height: 70px;
    font-weight: 900;
    margin-top: 189px;
    text-align: center;
}

.footer-margin{
    margin-top: 20rem;
}

.raving-button{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.raving-button button{
    background: #FFE700;
    border: 0;
    border-radius: 5px;
    /* padding: 20px; */
    /* width: 240px; */
    width: 270px;
    height: 70px;
    font-size: 1.3rem;
    line-height: 1.88rem;
    font-weight: 500;
    color: #03488B;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%);
}

.custom-body .raving-button button{
    margin-top: 25px;
}

.raving-button button.bam{
    background: #31FFEA;
    margin-top: 50px;
}
.unlock-button .raving-button button{
    margin-top: 25px;
}

.unlock-button .raving-button button.bam{
    margin-top: 0px;
}

.gallery{
    background: none;
}

.quality{
    background: #ffff;
    margin-top: 10rem;
    padding: 1rem;
    /* box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 10%); */
}

.quality-heading{
    font-size: 5rem;
    line-height: 5.4rem;
    font-weight: 900;
    text-align: center;
}

.quality-sub-heading{
    font-size: 1.5rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
    margin-top: 7.1rem;
}

.quality-video{
    width: 100%;
    max-width: 740px;
    margin: 8rem auto 0;
    border: 50px solid #FFEEEB;
    border-radius: 10px;
}

.wistia_responsive_padding{
    border: 3px solid #fff;
}

.marketplace{
    background: #FFE1DB;
    margin-top: 8rem;
}

.product{
    max-width: 24rem;
}

.custom-body .product-top img{
    border-radius: 10px;
}
.product-bottom{
    background: #F2FDFF;
    margin-top: -18px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.product-price{
    text-align: right;
    margin-right: 20px;
}

.product-price button{
    width: 4.1rem;
    background: #fff;
    color: #004E93;
    font-size: 0.75rem;
    border-radius: 50px;
    height: 2.25rem;
    border: none;
}

.order-button{
    width: 9.1rem;
    background: #fff;
    color: #004E93;
    font-size: 0.75rem;
    border-radius: 50px;
    height: 2.9rem;
    border: none;
    margin: 20px 0;
}

.bi-container{
    padding: 1rem;
}
.custom-body .bi-container{
    padding: 0 1rem 1rem;
}
.factory-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.marketplace-container{
   padding: 10rem 5rem 15rem 5rem;
}

.marketplace-image{
   border-radius: 10px;
}
.container{
    max-width: 100% !important;
}

.marketplace-explore{
    text-align: right;
    margin-top: 2.4rem;
    margin-right: 30px;
    font-size: 24px;
    font-weight: 600;
}

.marketplace-explore img{
    /* margin-left: 80px; */
    vertical-align: middle;
    margin-top: -5px;
    margin-left: 20px;
    max-height: 22px;
}

.carouselItem.in {
    width: 1100px;
    margin-right: -20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 5px solid #fff;
    border-bottom: 5px solid #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carouselItem.in.accordian_4 {
    border-right: 5px solid #fff;
}

/* .brands-illustration__accordian--heading:active, .brands-illustration__accordian--heading:focus, .brands-illustration__accordian--heading:hover,
.brands-illustration__accordian--heading:active, .brands-illustration__accordian--heading:focus, .brands-illustration__accordian--heading:active {
    border: initial !important;
} */


.join-com{
    margin-top: 170px;
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-weight: 800;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
}

.learn-more{
    margin-top: 10px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
}

.join-us-ques{
    margin-top: 56px;
    text-align: center;
}
.see-more-faqs{
    margin-top: 30px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;

    color: #7B66FF;

}

.card2{
    width: 61%;
    margin: auto;
    border-bottom: 1px solid #03488B !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.lastcard{
    border-bottom:none !important;
}

.join-us-ques .card-header{
    padding: 0.5rem 0;
}

.card-header-join{
    background: #fff !important;
    /* padding-bottom: 30px !important; */
    border-bottom: none !important;
    text-align: left;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
}
.card-header-join button{
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #03488B !important; 
    padding: 0;   
}

.card-header-join button:hover,
.card-header-join button:focus{
    color: #03488B;   
    outline: none !important;
    box-shadow: none;
}

.mr-collapse-join-us{
    margin-right: 27px;
}

.card-body-2{
    /* padding: 15px 28px 16px !important; */
    margin-left: 31px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}

.options{
    display: flex;
    margin-top: 32px;
}

.option-content-heading{
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 3px;
}

.options-content{
    padding-left: 25px;
    line-height: 18px;
    font-size: 12px;
    text-align: left;
}

@media (max-width:1550px){
    .unlock-card{
        padding: 20px;
        margin: 20px;
        border-radius: 20px;
    }
}

@media (max-width:1450px){
    .carouselItem.in{
        width: 800px;
    }
  
}

@media (max-width:1290px){

    .brands-section-1{
        width: 300px;
    }

    .custom-body .brands-section-1{
        width: 360px;
    }
    
    .brands-section-2{
        height: 360px;
        width: 730px;
    }

    .brands-illustration{
        margin-top: 3rem;
    }

    .item1__image img{
        max-height: 475px;
        max-width: 400px;
    }
    .item0__image img{
        max-height: 475px;
        max-width: 400px;
       
    }
}

@media (max-width:1240px){
    .carouselItem.in{
        width: 650px;
    }
    .bi-carousel-title{
        margin-left: 140px;
    }
    .custom-body .bi-carousel-col2{
        margin-left: 0;
        width: 82%;
    }
}

@media (max-width:1100px) {
    .unlock-card{
        margin: 30px;
        display: flex;
        align-items: center;
    }
    .brands-section-1{
        width: 250px;
    }
    
    .brands-section-2{
        /* width: 280px; */
        margin-left: -80px;
    }

    .unlock__title img{
        width: 30rem;
    }
   
}

@media (max-width:1050px) {

    .brands-section-email input{
        width: 12rem;
    }

    .brands-section-email button{
        width: 12rem;
        margin-left: 0;
    }
    .brands-section-email button.bam{
        margin-left: 0;
    }
    
    .carouselItem.in{
        width: 550px;
    }

}


@media (max-width:1000px) {

    .brands-section__col1{
        display: flex;
        justify-content: center;
    }
    .brands-section__nothing img{
        width: 350px;
    }

    .brands-section-email input{
        width: 100%;
        margin: 0 0 0.5rem 0 !important;
    }

    .brands-section-email button.contact-us{
        width: 100%;
        margin: 0 0 0.5rem 0 !important;
    }

    .brands-section-email button{
        width: 100%;
        margin-left: 0;
    }

    .brands-section__pitch{
        width: 21rem;
        padding: 0.2rem 0.7em;
    }

    .brands-illustration__how{
        font-size: 2.1rem;
        line-height: 1.56rem;
        margin-top: 5rem;
        margin-bottom: 6rem;
    }
    .raving-heading{
        font-size: 1.5rem;
        line-height: 1.6rem;
        margin-bottom: 3.2rem;
    }
    .faq-heading{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .whyAV-heading{
        font-size: 2.1rem;
        line-height: 2.4rem;
    }
    .quality{
        margin-top: 4.5rem;
    }
    .quality-heading{
        font-size: 2rem;
        line-height: 2.3rem;
    }
    .unlock__title{
        font-size: 2.1rem;
        line-height: 2.4rem;
        margin-top: 3.1rem;
    }
    .unlock-cards{
        margin-top: 2.2rem;
    }
    .unlock-button{
        margin-top: 86px;
    }
    .unlock-change{
        margin-top: 85px;
        font-size: 25px;
        line-height: 29px;
    }

    .footer-margin{
        margin-top: 6.6rem;
    }
    .raving-button{
        margin-top: 20px;
    }
    .marketplace-explore img{
        margin-left: 50px;
    }

    .bi-carousel-title{
        width: auto;
        /* text-align: center; */
        font-size: 0.75rem;
        font-weight: 600;
        line-height: 0.87rem;
        min-width: 85px;
        margin-left: 90px;
    }
    .custom-body .bi-carousel-title{
        font-size: 0.75rem;
        height: 30px;
    }
    .bi-carousel-col2{
        padding-left: 15px !important;
    }
   
    .bi-image{
        padding: 20px 0px;
        max-width: 250px;
    }
    .whyAv-table {
        font-size: 0.85rem;
    }

    .options{
        /* justify-content: center; */
        margin-left: 12px;
    }

}

@media (max-width:768px) {

    .brands-section__nothing img{
        width: 330px;
    }
    .custom-body .brands-section__nothing img{
        width: 320px;
    }
    .brands-section-info{
        max-width: 325px;
        margin-top: 0.5rem;
    }

    .brands-section-info p{
        letter-spacing: 0.4px;
        font-size: 0.94rem;
        line-height: 1.09rem;
    }
    .custom-body .brands-section-info p{
        font-size: 0.85rem;
    }

    .brands-section{
        padding: 2.8rem 2rem 1rem;
    }

    .brands-section-email{
        margin-top: 1rem;
    }

    .brands-section-margin-left{
        margin-left: -5px;
    }

    .brands-illustration{
        margin-top: 0.7rem;
    }

    .raving-card{
        width: 21rem;
    }
    .faq{
        margin-top: 5rem;
    }
    .faq__info{
        height: 18.6rem;
    }

    .why-us{
        padding: 1rem 3rem;
        margin-top: 56px;
    }
    .why-us-title{
        font-size: 22px;
    }
    .why-us__info{
        height: 274px;
    }

    .why-us__info--title{
        font-size: 18px;
        font-weight: 700;
    }
    .why-us__info--desc{
        font-size: 14px;
        line-height:16.4px;

    }
    .faq-card{
        width: 17.75rem;
    }
    .why-us-card{
        width: 274px;
    }

    .brands-section__col2{
        margin-top: 2rem !important;
        padding: 0 !important;
    }

    .quality{
        padding: 2rem;
    }

    .quality-sub-heading{
        font-size: 0.85rem;
        margin-top: 2rem;
        margin-top: 2.81rem;
    }
    .quality-video{
        margin: 4rem auto 0;
        border: 20px solid #ffeeeb;
    }
    .marketplace{
        margin-top: 5rem;
    }
    .bi-container{
        padding: 1rem;
    }
    .marketplace-container{
        padding: 3rem;
     }

     .marketplace-explore{
         font-size: 14px;
     }
     .marketplace-explore img{
        height: 1.6rem;
        margin-left: 12px;
        margin-top: -3px;
        width: 15px;
        max-height: 15px;
    }
    .faq__info--title{
       font-size: 18px;
    }
    .faq__info--desc{
        font-size: 14px;
        line-height: 1rem;
    }
    .whyAv-table{
        font-size: 0.85rem;
    }
    .whyAv-table .col-3{
        padding: 28px 20px;
    }
    .why-table-heading {
        font-size: 12px;
        
    }
    .whyAv-table .why-av{
        max-width: 39px;
    }
    .whyAv-table .stars img{
        max-width: 65px;
    }
    .whyAv-table img{
        max-width: 15px;
    }

    .whyAv-reduceImg .col-3 img{
        max-width: 18px;
    }

    .reduce-cross.col-3 img{
        max-width: 9px;
    }
    .unlock-card{
        padding: 0;
        margin: 20px;
    }
    .unlock{
        background: url('../images/unlock-bg-mob.svg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left 20% bottom 0%;
        margin-top: 5.5rem; 
    }
    .unlock-card__image{
        height: 160px;
        width: 85px;
    }
    .unlock-card__image img{
        height: 75px;
        max-width: 85px;
        /* max-width: 9.5rem; */
    }

    .unlock-card__title{
        font-size: 1rem;
        line-height: 1.16rem;
    }

    .unlock-card__info{
        font-size: 0.875rem;
        line-height: 1.05rem;
    }

    .raving{
        margin-top: 1rem;
    }

    .unlock-button button{
        /* font-size: 15px; */
        height: 60px;
        width: 260px;
        font-size: 0.9rem;
    }

    .accordion-body {
        padding: 1rem 1.25rem 4rem !important;
    }

    .raving-button button{
        height: 60px;
        width: 210px;
        font-size: 0.85rem;
    }

    .join-com{
        margin-top: 100px;
        font-family: Roboto;
        font-size: 28px;
        font-weight: 900;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: center;        
    }
    
.learn-more{
    margin-top: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: underline;
}
.card2{
    width: 90%;
    padding-top: 25px !important;
    padding-bottom: 25px !important;
}
.card-header-join button{
    font-size: 14px;
}

.join-us-ques{
    margin-top: 25px;
}

.card-body-2{
    font-size: 14px;
    margin-left: 25px;
}

.see-more-faqs{
    font-size: 16px;
}

.why-us .flickity-prev-next-button.next{
    height: 30px;
    width: 30px;
}

.why-us .flickity-prev-next-button.previous{
    height: 30px;
    width: 30px;
}

.flickity-prev-next-button .flickity-button-icon{
    top: 0 !important;
    left: 0 !important;
}

.accordion-body{
    margin-top: -2px;
}
    
}

@media (max-width:575px) {

    .brands-section{
        background: url(../images/Vector3.svg) center/cover no-repeat border-box;
        background-position: left 0% bottom 0%;
    }

    .custom-body .brands-section{
        background: url(../images/Vector3_pink.svg) center/cover no-repeat border-box;
        background-position: left 0% bottom 0%;
    }
    
    .flex-col-reverse{
        flex-direction: column-reverse;
    }

    .whyAV{
        margin-top: 4rem;
    }

    .whyAv-table{
        font-size: 0.75rem;
        padding: 3rem 0.5rem 0.5rem;
    }

    .whyAv-table .col-3{
        padding: 30px 10px;
    }
    .product-price{
        margin-right: 15px;
    }

    .unlock__title img{
        width: 21rem;
    }
}



.carouselItem {
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    transition: width 1s  height 0s ease;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    white-space: normal;
    vertical-align: middle;
    line-height: 30px;
    height: 30px;
    width: 0px;
    height: 100%;
    max-height: 100%;
    flex-wrap: nowrap;
    margin-left: -20px;
    /* margin-right: -20px; */
    border-radius: 10px;
}

.why-us .flickity-prev-next-button.next{
    background: url(../images/why-us-right.png) !important;
    color: transparent !important;
    background-size: cover !important;
    top: 50% !important;
}

.why-us .flickity-prev-next-button.previous{
    background: url(../images/left-why-us.png) !important;
    color: transparent !important;
    background-size: cover !important;
    top: 50% !important;
}


.flickity-prev-next-button.next{
    background: url(../images/right.png) !important;
    color: transparent !important;
    background-size: cover !important;
    top: 50% !important;
}

.flickity-prev-next-button.previous{
    background: url(../images/left.png) !important;
    color: transparent !important;
    background-size: cover !important;
    top: 50% !important;
}